<li class = 'post_item'>
  <a class = 'show' href='{{ .Permalink }}' title = '{{ .Title }}' style = 'background-image: url({{ $.Site.BaseURL }}images/{{ .Params.images }});'>
  </a>
  <div class = 'excerpt'>
    {{ with .Params.categories -}}
    <p class = 'post_categories'>{{ range first 1 . }}<a href = '{{ $.Site.BaseURL }}categories/{{ . | urlize }}'>{{ . }}</a>{{ end }}</p>
    {{- end }}
    <h3 class = 'post_link'>
      <a href='{{ .Permalink }}'>{{ .Title  }}</a>
    </h3>
    <p class = 'pale'>{{ .description | truncate 90 }}</p>
  </div>
</li>
