<footer class="post-full-footer">
    <section class="author-card">
        <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
        <section class="author-card-content">
            <h4 class="author-card-name"><a href="{{"/" | absURL}}">{{.Params.author | default .Site.Params.author}}</a>
                {{ with .Params.categories }}
      in <span itemprop="articleSection">{{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") ", " " and " }}</span>
    </h4>
                <p>{{.Params.authorDescription | default .Site.Params.authorDescription}}</p>
        </section>
      </section>
</footer>
