<footer class="post-full-footer">
    <section class="author-card">
        <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
        <section class="author-card-content">
            <h4 class="author-card-name"><a href="{{"/" | absURL}}">{{.Params.author | default .Site.Params.author}}</a></h4>
                <p>{{.Params.authorDescription | default .Site.Params.authorDescription}}</p>
        </section>
      </section>
</footer>

<ul class="stats">
  {{ if isset .Params "categories" }}
    {{ $categoriesLen := len .Params.categories }}
    {{ if gt $categoriesLen 0 }}
      <li class="categories">
        <ul>
          {{ range $k, $v := .Params.categories }}
            {{ $url := printf "categories/%s" (. | urlize | lower) }}
            <li><a class="article-category-link" href="{{ $url | absLangURL }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  {{ else }}
    <li class="categories">
      <ul>
        <li>None</li>
      </ul>
    </li>
  {{ end }}
  {{ if isset .Params "tags" }}
    {{ $tagsLen := len .Params.tags }}
    {{ if gt $tagsLen 0 }}
      <li class="tags">
        <ul>
          {{ range $k, $v := .Params.tags }}
            {{ $url := printf "tags/%s" (. | urlize | lower) }}
            <li><a class="article-category-link" href="{{ $url | absLangURL }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  {{ else }}
    <li class="tags">
      <ul>
        <li>None</li>
      </ul>
    </li>
  {{ end }}
</ul>
