{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>Radu Ciurca 🦄</h1>
    <p>The place where I keep track of the proffesional and personal 👤</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    <a class="button inverted small " target="_blank" href="https://mailchi.mp/1b1cfcc997f6/radu" >Subscribe ⚡ </a> to my <mark>Newsletter</mark> by clicking the button.</a>
    
</div>
  </div>
  <div id="components">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3><a href="/blog">The Blog ✍</a></h3>
        <p>I write about what interests me. Mostly Marketing, Social Sciences and Tech.</p>
      </div>
      <div class="col col-4 item">
        <h3><a href="/docs">The Tutorials 🆘</a></h3>
        <p>I try to help others, when I know I struggled trying to do something.</p>
      </div>
         <div class="col col-4 item">
        <h3><a href="/faq">FaQ ❔</a></h3>
        <p>Find out what's up with this site.</p>
      </div>
  </div>
</div>
</div>
<div class="author-headshot">
  <div class="author-headshot-divider">
  </div>
  <a href="/author" target="_blank" class="author-headshot-link _90-opacity w-inline-block">
    <div class="author-headshot-container">
      <img src="https://pbs.twimg.com/profile_images/1140582222736646144/iu1FQBko_400x400.jpg" width="81" alt="Radu Ciurca headshot" class="blog-about-author-headshot"></div></a>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
