{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
  <h1>My thoughts 💬, Stories 🙊 and Ideas 💡</h1>
    <p>My vision, news and ideas, and whatever feels important.<br> <a href="https://twitter.com/{{.Site.Params.twitter}}">Follow me on Twitter</a></p>
  </div>
  <div class="nice">
      <div class="post-feed-header-wrapper">
        <h2 class="post-feed-header">Latest Posts</h2>
      </div>
    <section class="post-feed">
      {{ range .Data.Pages.ByWeight }}
        <a class="post-card" href="{{ .Permalink }}">
            <header class="post-card-header">
                <h4 class="post-card-title">{{ .Title }}</h4>
              <p>Published in <span class="post-card-categories-link" itemprop="articleSection">{{ range .Params.categories }}{{ . }}{{ end }}</span></p>
            </header>
            <section class="post-card-excerpt">{{ .Params.description }}</section>
            <footer class="post-card-footer">
                <div class="post-card-footer-left"></div>
                <div class="post-card-footer-right"></div>
                      {{ end }}
            </footer>
        </a>
    </section>
</div>
{{ end }} 
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
