{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div id="main">
  <div id="hero">
  <h1>My thoughts 💬, Stories 🙊 and Ideas 💡</h1>
    <p>My vision, news and ideas, and whatever feels important.<br> <a href="https://twitter.com/{{.Site.Params.twitter}}">Follow me on Twitter</a></p>
  </div>
  <div class ="nice">
    <div class="post-feed-header-wrapper">
      <h2 class="post-feed-header">Latest Posts</h2>
    </div>
     {{ range .Data.Pages.ByWeight }}
    <section class="post-feed">
      <a class="post-card" href="{{ .Permalink }}">
        <header class="post-card-header">
          <h2 class="post-card-title">{{ .Title }}</h2>
          {{ with .Params.categories -}}
          <div class="post-card-categories">Posted a month ago in  <span itemprop="articleSection" class="post-card-categories-link">{{ delimit (apply (apply (sort .) "partial" "post/category-link" ".") "chomp" ".") ", " " and " }}</span></div>
<ul class='posts wrap' id = 'posts'>
  {{- range (.Paginator 4).Pages }}
    {{ partial "excerpt.html" . }}
  {{- end }}
</ul>
{{ end }} 
{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
